server:
  port: 30302

# spring 配置
spring:
  application:
    name: alinesno-infra-smart-brain-boot
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dev_alinesno_infra_smart_brain_v100?serverTimezone=GMT%2B8&zeroDateTimeBehavior=CONVERT_TO_NULL
    username: root
    password: adminer
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: aip@local
  devtools:
    restart:
      enabled: true

# sa-token配置
sa-token:
  token-name: satoken
  host-path: http://alinesno-infra-base-identity-auth-application.beta.base.infra.linesno.com
  sso:
    auth-url: ${sa-token.host-path}/login
    is-http: true
    check-ticket-url: ${sa-token.host-path}/sso/checkTicket
    slo-url: ${sa-token.host-path}/sso/signout
    get-data-url: ${sa-token.host-path}/sso/getData
  sign:
    secret-key:

# 自动生成表
actable:
  table:
    auto: update
  model:
    pack: com.alinesno.infra.smart.brain.entity
  database:
    type: mysql
  index:
    prefix: alinesno_smart_brain_idx_
  unique:
    prefix: alinesno_smart_brain_uni_


alinesno:
  infra:
    smart:
      # milvus 向量数据库
      milvus:
        ip-addr: 127.0.0.1
        port: 19530
      # openapi config
      brain:
        openapi:
          host:
          key: