.icon-btn{
  font-size: 20px;
}

.input-chat-box {
.el-input__wrapper{
    box-shadow: none !important;
    background-color: #fafafa; 
}
  }

.chat-container {

  padding: 10px;

  .message-input {
    position: relative;
    margin-top: 8px ;
  }

  .input-chat-box {
    width: 100%;
    height: 41px;
    padding: 4px;
    resize: none;
    background: #fafafa;
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 5px;
    outline:none;
    outline:0;

  }

  .mention-dropdown {
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    top: -258px;
    left: 0;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    width: 250px;
    margin: 4px 0;
    background-color: #fff;
    border: 1px solid #e6e6e6 ;
    border-radius: 5px;
  }

  .mention-dropdown li {
    padding: 8px 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    background: #fafafa;
    margin: 5px;
  }

  button {
    margin-top: 8px;
  }

  .message-list {
    margin-top: 20px;
  }

  .message {
    margin-bottom: 8px;
  }

  .mention {
    color: #007bff;
    font-weight: bold;
    margin-right: 5px;
  }
}

.aip-chat-dashboard-panel{
  padding: 0px 10px !important ;

  .aip-chat-box-title-img{
    width: 25px;
    height: 25px;
    border-radius: 5px;
    position: absolute;
    left: 10px;
  }

  .aip-icon-word{
    font-size: 25px;
    margin-right:5px;
  }
}

.tpl-app {
  overflow: auto;
  color: #172b4d;
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  width: 90%;
  margin: auto;

  .header {
      font-size: 24px;
      margin-left: 0px;
  }


  .popular {
      display: flex;
      align-content: center;
      justify-content: space-between;
      width: calc(100% - 20px);
      padding-bottom: 24px;
      margin-top: 24px;

      .popular-item {
          width: calc(20% - 20px);
          padding-right: 20px;
          cursor: pointer;
          text-align: center;
          margin-left: 15px;
      }

      .popular-item__banner {
          width: 50%;
          border-radius: 4px;
      }

      .popular-item__title {
          margin: 20px 0 6px;
          font-size: 20px;

          i {
              font-size: 40px;
              color: #3b5998;
              margin-right: 10px;
          }
      }

      .popular-item__desc {
          font-size: 13px;
          color: #6b778c;
      }
  }

  .section {
      padding: 0px 20px 30px;

      &:last-child {
          border-bottom: 0 none;
      }

      .section-title {
          margin-left: -20px;
          font-size: 20px;
          margin-bottom: 0px;
      }

      .section-body {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-wrap: wrap;
          width: 100%;
          margin: 0 -2.5%;

          .app-item {
              width: calc(33% - 20px);
              padding: 10px 0;
              margin: 0 10px;

              .content {
                  -webkit-box-flex: 1;
                  -ms-flex: 1;
                  flex: 1;
                  overflow: hidden;
              }
          }

          .app-item__icon {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 0px;
              width: 48px;
              height: 48px;
              margin-right: 5px;
              font-size: 35px;
              background-color: #fff;
              border-radius: 4px;
          }

          .app-item__control {
              margin-left: 15px;

              .plain-btn {
                  padding: 8px 12px;
                  color: #3b5998;
                  font-size: 13px;
                  cursor: pointer;
                  border: 1px solid #3b5998;
                  border-radius: 4px;
              }
          }

          .app-item__title {
              margin-bottom: 0px;
              font-size: 16px;
          }

          .app-item__desc {
              overflow: hidden;
              font-size: 13px;
              color: #6b778c;
              text-overflow: ellipsis;
              white-space: nowrap;
          }
      }
  }
.border-bottom {
  border-bottom: 1px solid #dfe1e6;
}

img {
  border-style: none;
}

.tpl-app .section .section-body .app-item,
.tpl-app .section .section-body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wk {
  font-family: wk !important;
  font-size: 16px;
  font-style: normal;
}

span.product-text-label {
  color: #3b5998;
  font-size: .7rem !important;
  border: 1px solid #3b5998;
  padding: 2px 5px;
  border-radius: 3px;
}

span.normal {
  color: #fe892c;
  border: 1px solid #fe892c;
}

span.design {
  color: #d5d5d5 !important;
  border: 1px solid #d5d5d5 !important;
}

.export-item {
    border-bottom: 0px;
    background: #fafafa;
    padding-bottom: 20px;
    border-radius: 5px !important;
    padding-left: 20px !important;
    margin-bottom: 10px !important;
}

.role-chat-iframe{
    width: 100%;
    height: calc(100vh - 200px);
    border: 0px;
}
}


.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  line-height: 1.3rem !important;
}

.channel-app-container {

  .el-aside{
    border-right: 0px !important ;
  }

  .acp-dashboard{
    background-color: #fff !important;

    .smart-container .robot-chat-windows{
      border-right: 0px !important ;
      border-left: 0px !important ;
    }
  }
}
