.edit-header-avatar {
    font-size:1.2rem;
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
    i{
        margin-bottom:5px;
        cursor: pointer;
    }
}

.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;

    .description {
        margin-top: 0px;
        width: 100%;
        padding: 8px 0;
        padding-right: 20px;
        white-space: pre-wrap;
        /* 使文本自动换行 */
    }

    .func-drapdown {
        padding: 10px;
        margin-right: 20px;
    }

}

// 自定义样式
.custom-loading {
  .el-loading-text {
    font-size: 3rem !important;
    color: #333 !important;
    font-weight: bold;
  }
}

.cm-scroller{
    border-radius: 4px !important;
}