.edit-header-avatar {
    font-size:1.2rem;
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
    i{
        margin-bottom:5px;
        cursor: pointer;
    }
}