.icon-btn {
  font-size: 20px;
}

.input-chat-box {
  .el-input__wrapper {
    box-shadow: none !important;
    background-color: #fafafa;
  }
}

.app-main{
    background-color: #fff;
}

.chat-container {

  padding: 10px;

  .message-input {
    position: relative;
    // margin-top: 8px;
  }

  .input-chat-box {
    width: 100%;
    height: 41px;
    padding: 4px;
    resize: none;
    background: #fafafa;
    font-size: 14px;
    border: 0px solid #ccc;
    border-radius: 5px;
    outline: none;
    outline: 0;

  }

  .mention-dropdown {
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    top: -258px;
    left: 0;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    width: 250px;
    margin: 4px 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
  }

  .mention-dropdown li {
    padding: 8px 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    background: #fafafa;
    margin: 5px;
  }

  // button {
  //   margin-top: 8px;
  // }

  .message-list {
    margin-top: 20px;
  }

  .message {
    margin-bottom: 8px;
  }

  .mention {
    color: #145799;
    font-weight: bold;
    margin-right: 5px;
  }
}

.aip-chat-dashboard-panel {
  padding: 0px !important;

  .aip-chat-box-title-img {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-right: 10px;
    // position: absolute;
    // left: 10px;
  }

  .aip-icon-word {
    font-size: 25px;
    margin-right: 5px;
  }
}

.tpl-app {
  overflow: auto;
  color: #172b4d;
  background-color: #fafafa;
  padding: 10px; 
  width: calc(100% - 20px);
  margin: auto;

  .header {
    font-size: 24px;
    margin-left: 0px;
  }


  .popular {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    width: calc(100% - 20px);
    padding-bottom: 24px;
    margin-top: 24px;

    .popular-item {
      width: calc(20% - 20px);
      padding-right: 20px;
      cursor: pointer;
      text-align: left;
      margin-left: 15px;
    }

    .popular-item__banner {
      width: 100%;
      border-radius: 4px;
    }

    .popular-item__title {
      margin: 20px 0 6px;
      font-size: 20px;

      i {
        font-size: 40px;
        color: #3b5998;
        margin-right: 10px;
      }
    }

    .popular-item__desc {
      font-size: 13px;
      color: #6b778c;
    }
  }

  .section {
    padding: 0px 20px 30px;

    &:last-child {
      border-bottom: 0 none;
    }

    .section-title {
      margin-left: -20px;
      font-size: 20px;
      margin-bottom: 0px;
    }

    .section-body {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 -2.5%;

      .app-item {
        width: calc(33% - 20px);
        padding: 10px 0;
        margin: 0 10px;

        .content {
          -webkit-box-flex: 1;
          -ms-flex: 1;
          flex: 1;
          overflow: hidden;
        }
      }

      .app-item__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        width: 48px;
        height: 48px;
        margin-right: 5px;
        font-size: 35px;
        background-color: #fff;
        border-radius: 4px;
      }

      .app-item__control {
        margin-left: 15px;

        .plain-btn {
          padding: 8px 12px;
          color: #3b5998;
          font-size: 13px;
          cursor: pointer;
          border: 1px solid #3b5998;
          border-radius: 4px;
        }
      }

      .app-item__title {
        margin-bottom: 0px;
        font-size: 16px;
      }

      .app-item__desc {
        overflow: hidden;
        font-size: 13px;
        color: #6b778c;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  // .border-bottom {
  //   border-bottom: 1px solid #dfe1e6;
  // }

  img {
    border-style: none;
  }

  .tpl-app .section .section-body .app-item,
  .tpl-app .section .section-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .wk {
    font-family: wk !important;
    font-size: 16px;
    font-style: normal;
  }

  span.product-text-label {
    color: #3b5998;
    font-size: .7rem !important;
    border: 1px solid #3b5998;
    padding: 2px 5px;
    border-radius: 3px;
  }

  span.normal {
    color: #fe892c;
    border: 1px solid #fe892c;
  }

  span.design {
    color: #d5d5d5 !important;
    border: 1px solid #d5d5d5 !important;
  }

  .export-item {
    border-bottom: 0px;
    background: #fafafa;
    padding-bottom: 20px;
    border-radius: 5px !important;
    padding-left: 20px !important;
    margin-bottom: 10px !important;
  }

}

  .role-chat-iframe {
    width: 100%;
    height: calc(100vh - 200px);
    border: 0px;
  }

  .role-chat-iframe-inner {
    width: calc(100vh - 150px);
    height: 400px;
    border: 0px;
  }

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like {
  line-height: 1.3rem !important;
}

.channel-app-container {

  // .el-aside{
  //   border-right: 0px !important ;
  // }

  .acp-dashboard {
    background-color: #fff !important;

    .smart-container .robot-chat-windows {
      border-right: 0px !important;
      border-left: 0px !important;
    }
  }
}

.banner-container-panel {

  margin-top: 30px;
  margin-bottom: 40px;

  .right-container-_0GQ3U {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    aspect-ratio: 480 / 270;
    width: 480px;
    height: 270px;
    margin-right: 10px;
    margin-left: auto;
    border-radius: 12px;
    box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.12);
  }
}

.cart-head-continer {
  gap: 16px;
  align-items: flex-start;
  flex-direction: row;
  display: inline-flex;
}

.semi-space.card-statics {
  font-size: 13px;
  color: #a5a5a5;
  display: inline-flex;
  line-height: 30px;
  padding-top: 3px;
}

.semi-card-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 16px;
  padding: 20px 20px 16px;
  background: #FFF;
  border: 1px solid rgba(6, 7, 9, 0.1);
  border-radius: 8px;

  .semi-divider {
    margin-top: 20px;
    margin-bottom: 16px;
    border-bottom: 0.5px solid #f0f0f5;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    color: var(--semi-color-text-0);
//     margin: 1px 0 1px 0;
  }

  .card-desc {
    width: 100%;
    height: 60px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(56, 55, 67, 0.8);
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 0px;
  }

  .info-container {
    overflow: hidden;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    display: inline-flex;

    .container-center {
      flex-shrink: 0;
      max-width: 100%;
      height: 18px;
      display: inline-flex;

      .avatar-oDHtb3 {
        overflow: hidden;
        border-radius: 0;
        border-radius: 12px;
        display: inline-flex;
      }

      .semi-space-align-center {
        align-items: flex-start;
        flex-direction: column;
        display: inline-flex;

        .text {
          flex: 1;
          font-size: 13px;
          font-weight: 400;
          line-height: 18px;
          color: #a5a5a5;
        }

      }

      .text-nickname {
        flex: 1;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        color: #a5a5a5;
      }

    }

  }

  .card-title {
    height: 24px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #1C1D23;
  }

  .semi-avatar-square {
    border-radius: 8px;
    width: 64px;
    height: 64px;
    border: 1px solid #f0f0f5;
    background: #f0f0f5;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

  }
}

.feature-team-box {

    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 480px) 1fr;
    gap: 12px;
    width: 100%;

    h1 {
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        line-height: 32px;
        color: rgba(var(--coze-fg-4), var(--coze-fg-4-alpha));
        margin: 0px 0px 0px 10px;
        float: left;
    }
}

.agent-single-right-panel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  border-left: 1px solid #e6e5e9;
  background-color: #fafafa;

  .top-stats,
  .bottom-stats {
    padding: 10px;
    margin-top: 10px;
  }

  .stat-item {
    font-size: 14px;
    color: #333;
    margin-right: 10px;
  }

  .content-area {
    flex: 1; // 让内容区域扩展以填充剩余空间
    padding: 20px;
    background-color: #fafafa;
    border-radius: 5px;
    text-align: left;

    .intro {
      font-size: 15px;
      margin-bottom: 20px;
      line-height: 1.8rem;
    }

    .skill-tip {
      color: #555;
    }

    p {
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 10px;
    }
  }

  .bottom-stats {
    margin-top: auto;
    margin-bottom: 30px;
  }
}

