.role-table-container {
  .role-selection {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;

    .role-item {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px 20px;
      background: #f5f7fa;
      border-radius: 3px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 1px solid #f5f7fa;

      &:hover {
        background-color: #ebf5ff; // 鼠标悬停时改变背景色
        border: 1px solid rgba(64, 158, 255, 0.25);
      }

      .role-icon {
        font-size: 30px;
        color: #1d75b0;
      }

      .role-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        line-height: 20px;
      }

      .role-title {
        font-weight: bold;
        font-size: 14px;
      }

      .role-desc {
        color: #393131bd;
        font-size: 13px;
      }
    }
  }

  .role-item-column {
    padding: 5px;
  }

  .role-item-panel {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 5px;
    padding: 20px 20px 16px;
    background: #FFF;
    border: 1px solid rgba(6, 7, 9, .1);
    border-radius: 5px;
  }

  .role-item-panel:hover {
    box-shadow: 0px 4px 4px 0px rgba(19, 51, 107, 0.05), 0px 0px 1px 0px rgba(19, 51, 107, 0.08);
    border: 1px solid #1d75b0;
  }

  .role-info {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .role-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .role-name {
    height: 24px;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: #1c1d23;
  }

  .chat-count {
    font-size: 13px;
    font-weight: normal;
    color: #a5a5a5;
  }

  .role-responsibilities {
    width: 100%;
    height: 60px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #383743cc;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 0;
  }

  .role-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #e5e5e5;
  }

  .action-buttons,
  .switch-buttons {
    display: flex;
    gap: 10px;
  }
}

.agent-inference-container {
    padding: 10px !important;
    background: #fff ;
    overflow: hidden;

    .ai-config-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

        .left-part {
            display: flex;
            align-items: center;

            span {
                margin-left: 10px;
            }
        }

        .right-part {
            width: 200px;
        }
    }

    .ai-config-section {
        padding: 10px;

        .section-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 5px;
        }
    }


    .box-card {
        margin-bottom: 5px;
        background: #fff;
    }

    .ai-config-section-title {
        display: flex;
        height: 100%;
        align-items: center;
        padding: 10px 5px;
        font-size: 14px;
        gap: 8px;
    }

    .scrollbar-style {
        height: calc(100vh - 122px);
        padding-right: 10px;
    }

    .nav-row {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid #e8ebf0;
        align-items: center;

        :last-child {
            border: 0px;
        }
    }

    .select-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
    }

    .input-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        input {
            background-color: #f5f5f5;
        }
    }

    .button-group {
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: flex-end;
    }

    .box-card-title {
        font-weight: bold;
        font-size: 14px;
    }

    .agent-chat-box {
        width: 100%;
        background: #ffffff;
        border-radius: 5px;
        height: calc(100vh - 120px);
    }

    .page-header-container {
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.text-role-item-desc {
    width: 100%;
    height: 18px;
    margin-top: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(56, 55, 67, 0.8);
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 0;
}