// 工作流节点容器样式
.workflow-node-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px #1f23291f;

  border: 2px solid #ffffff !important;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0px 6px 24px 0px rgba(31, 35, 41, 0.08);
  }

  &.isSelected {
    border: 2px solid var(--el-color-primary) !important;
  }

  &.error {
    border: 1px solid #f54a45 !important;
  }

  // 节点标题样式
  .node-title {
    display: flex;
    gap: 8px;
    font-size: 15px;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
    height: 40px;
    // color: #1d75b0;
    justify-content: space-between;

    &:hover {
      .document-link {
        color: #1d75b0;
      }
    }

    .document-link {
      color: #a5a5a5;

    }

    .node-title-label {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    // 节点图标样式
    .node-icon {
      width: 28px;
      height: 28px;
      background: #1d75b0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff;
      border-radius: 5px;
    }

    // 节点名称样式
    .node-name {
      font-weight: bold;
      display: flex;
      gap: 10px;
    }
  }

  .el-form .el-form-item__label {
    font-weight: normal !important;
    font-size: 13px !important;
  }

  // 节点设置样式
  .node-settings {
    display: flex;
    flex-direction: column;

    // 节点设置标题样式
    .settings-title {
      font-size: 13px;
      border-left: 3px solid rgb(64, 158, 255);
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 5px;
    }

    .settings-content {

      line-height: 32px;
      padding-bottom: 20px;

      .settings-label-label {
        font-size: 13px;
        color: #646a73;
      }

      .settings-label-text {
        font-size: 13px;
        color: #1f2329;
      }
    }

    // 节点设置表单区域样式
    .settings-form {
      padding: 5px;
      background: #f5f5f5;
      border-radius: 2px;
    }

    .condition-panel {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .condition-node-remove-icon {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin-top: 8px;
      margin-left: 5px;
      margin-right: 5px;
    }

    .condition-node-add,
    .condition-branch-add {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  // 输出参数样式
  .node-output {
    display: flex;
    flex-direction: column;

    // 输出参数标题样式
    .output-title {
      font-size: 13px;
      border-left: 3px solid rgb(64, 158, 255);
      margin-bottom: 10px;
      margin-top: 10px;
      padding-left: 5px;
    }

    // 输出参数内容样式
    .output-content {
      background-color: #f5f6f7;
      color: #1f2329;
      line-height: 20px;
      padding: 8px 12px;
      font-size: 13px;
      border-radius: 4px;
      margin-bottom: 10px;
    }

    .copy-coutput-var {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .copy-btn {
        color: #aaa;

        &:hover {
          color: #1d75b0;
        }
      }
    }
  }
}

// 输出推理样式
.say-message-body.markdown-body.chat-reasoning {
  color: #9ea0a6;
  font-size: 95%;
  border-left: 2px solid #a5a5a5;
}

.lf-node-selected {
  .workflow-node-container {
    border: 2px solid #1d75b0 !important;
  }
}