server:
  port: 30304

# spring 配置
spring:
  application:
    name: alinesno-infra-smart-expert-boot
    id: 1848341995578118144
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/dev_alinesno_infra_smart_assistant_v100?characterEncoding=UTF-8&serverTimezone=GMT%2B8&allowMultiQueries=true
    username: root
    password:  adminer
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password: aip@local
  mvc:
    async:
      request-timeout: 3600000
  devtools:
    restart:
      enabled: true

actable:
  table:
    auto: update
  model:
    pack: com.alinesno.infra.smart.assistant.entity;com.alinesno.infra.smart.assistant.queue.entity;com.alinesno.infra.smart.assistant.plugin.entity;com.alinesno.infra.smart.brain.entity;com.alinesno.infra.smart.inference.agent.entity;com.alinesno.infra.smart.im.entity;com.alinesno.infra.smart.assistant.template.entity;com.alinesno.infra.smart.assistant.screen.entity;
  database:
    type: mysql
  index:
    prefix: alinesno_smart_assistant_idx_
  unique:
    prefix: alinesno_smart_assistant_uni_

forest:
  max-connections: 1000        # 连接池最大连接数
  connect-timeout: 60000        # 连接超时时间，单位为毫秒
  read-timeout: 120000           # 数据读取超时时间，单位为毫秒

# sa-token配置
sa-token:
  token-name: Authorization
  host-path: http://alinesno-infra-base-identity-auth-application.beta.base.infra.linesno.com
  sso:
    auth-url: ${sa-token.host-path}/login
    is-http: true
    check-ticket-url: ${sa-token.host-path}/sso/checkTicket
    slo-url: ${sa-token.host-path}/sso/signout
    get-data-url: ${sa-token.host-path}/sso/getData
  sign:
    secret-key: kQwIOrYvnXmSDkwEiFngrKidMcdrgKor

# wechat token
alinesno:
  security:
    # 排除路径
    excludes:
      - /sso/**
      - /logout
      - /v1/api/infra/base/im/roleChat/**
      - /v1/api/infra/base/im/sse/**
      - /v1/api/infra/base/im/chat/**
      - /api/infra/base/im/channel/**
      - /api/infra/smart/assistant/template/testTemplate
      - /api/infra/smart/assistant/screenChapter/**
      - /api/infra/smart/assistant/screen/**
      - /api/infra/smart/assistant/screenLongtext/**
  infra:
    gateway:
      host: http://alinesno-infra-base-gateway-proxy-application.beta.base.infra.linesno.com
    smart:
      # milvus 向量数据库
      milvus:
        ip-addr: 127.0.0.1
        port: 19530
      assistant:
        plugin:
          central: http://data.linesno.com/plugins/
          path: ${user.home}/.smart-assistant/plugins
      brain:
        qianwen:
          key:  sk-xxxxxxxxx
        openapi:
          host: http://api.qianwen.cn/v1/chat/completions
          key: sk-xxxxxxxxx