server:
  port: 30304
  undertow:
    threads:
      io: 8  # IO 线程数量，建议设为 CPU 核心数的 2 倍
      worker: 256  # 工作线程数量，可根据业务场景调整
    buffer-size: 1024  # 缓冲区大小（单位：字节）
    direct-buffers: true  # 启用直接内存缓冲区

# spring 配置
spring:
  application:
    name: alinesno-infra-smart-expert-boot
    id: 1848341995578118144
  datasource.dynamic:
    primary: mysql
    datasource:
      mysql:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/dev_alinesno_infra_smart_assistant_v100?characterEncoding=UTF-8&serverTimezone=GMT%2B8&allowMultiQueries=true
        username: root
        password: adminer
      postgresql:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://192.168.101.18:5432/postgres
        username: postgres
        password: 123456
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      # password: aip@local
  mvc:
    async:
      request-timeout: 3600000
  devtools:
    restart:
      enabled: true

actable:
  table:
    auto: none # update
  model:
    pack: com.alinesno.infra.smart.assistant.entity;com.alinesno.infra.smart.assistant.queue.entity;com.alinesno.infra.smart.assistant.plugin.entity;com.alinesno.infra.smart.brain.entity;com.alinesno.infra.smart.inference.agent.entity;com.alinesno.infra.smart.im.entity;com.alinesno.infra.smart.assistant.template.entity;com.alinesno.infra.smart.assistant.scene.core.entity;com.alinesno.infra.base.search.entity;com.alinesno.infra.smart.assistant.workflow.entity;com.alinesno.infra.smart.assistant.publish.entity;com.alinesno.infra.smart.assistant.workplace.entity;com.alinesno.infra.smart.scene.entity;
  database:
    type: mysql
  index:
    prefix: alinesno_smart_assistant_idx_
  unique:
    prefix: alinesno_smart_assistant_uni_

forest:
  backend: okhttp3
  max-connections: 1000        # 连接池最大连接数
  connect-timeout: 60000        # 连接超时时间，单位为毫秒
  read-timeout: 120000           # 数据读取超时时间，单位为毫秒

# sa-token配置
sa-token:
  token-name: Authorization
  host-path: http://alinesno-infra-base-identity-auth-application.beta.base.infra.linesno.com
  sso:
    auth-url: ${sa-token.host-path}/login
    is-http: true
    check-ticket-url: ${sa-token.host-path}/prod-api/sso/checkTicket
    slo-url: ${sa-token.host-path}/prod-api/sso/signout
    get-data-url: ${sa-token.host-path}/prod-api/sso/getData
  sign:
    secret-key: kQwIOrYvnXmSDkwEiFngrKidMcdrgKor

alinesno:
  thread-pool:
    chat:
      core-pool-size: 50
      max-pool-size: 100
      queue-capacity: 300
      thread-name-prefix: "smart-chat-"
      keep-alive-seconds: 1200
      wait-for-tasks-on-shutdown: true
      await-termination-seconds: 600
      rejected-execution-type: "CALLER_RUNS"  # 可选: ABORT/DISCARD/DISCARD_OLDEST/CALLER_RUNS
  security:
    # 排除路径
    excludes:
      - /sso/**
      - /logout
      - /v1/api/infra/base/im/roleChat/**
      - /v1/api/infra/base/im/sse/**
      - /v1/api/infra/base/im/chat/**
      - /api/infra/base/im/channel/**
      - /api/infra/smart/assistant/speechRecognition/playGenContent
      - /api/infra/smart/assistant/speechRecognition/recognizeFormData
      - /api/infra/smart/assistant/publishChat/**
      - /api/infra/smart/assistant/publishWeChat/**
      - /api/infra/smart/assistant/template/testTemplate
      - /api/infra/smart/assistant/screenChapter/**
      - /api/infra/smart/assistant/scene/**
      - /api/infra/smart/assistant/screenLongtext/**
      - /api/infra/smart/assistant/scene/pptGenerate/tools/**
      - /chatThreadPoolStatus
  xss:
    # TODO 待处理XSS的问题
    enabled: false
  infra:
    gateway:
      host: http://alinesno-infra-base-authority-boot.beta.base.infra.linesno.com
      embedding: https://dashscope.aliyuncs.com/compatible-mode/v1
      reranker: https://dashscope.aliyuncs.com/api/v1/services/rerank/text-rerank
    smart:
      # milvus 向量数据库
      milvus:
        ip-addr: 127.0.0.1
        port: 19530
      assistant:
        plugin:
          central: http://data.linesno.com/plugins/
          path: ${user.home}/.smart-assistant/plugins
      brain:
        role-template-sync-url: http://data.linesno.com/aip-role/alinesno-infra-smart-brain-role-templates.zip
        qianwen:
          key:  sk-xxxxxxxxx

dromara:
  x-file-storage: #文件存储配置
    default-platform: qiniu-kodo #默认使用的存储平台
    thumbnail-suffix: ".min.jpg" #缩略图后缀，例如【.min.jpg】【.png】
    local-plus:
    minio:
      - platform: minio # 存储平台标识
        enable-storage: true  # 启用存储
        access-key: ${alinesno.infra.minio.access-key}
        secret-key: ${alinesno.infra.minio.secret-key}
        end-point: ${alinesno.infra.minio.endpoint}
        bucket-name: ${alinesno.infra.minio.bucket}
        domain: ${alinesno.infra.minio.domain} # 访问域名，注意“/”结尾，例如：http://minio.abc.com/abc/
        base-path: base/ # 基础路径
    qiniu-kodo:
      - platform: qiniu-kodo # 存储平台标识
        enable-storage: true  # 启用存储
        access-key: ${alinesno.infra.qiniu.access-key}
        secret-key: ${alinesno.infra.qiniu.secret-key}
        bucket-name: ${alinesno.infra.qiniu.bucket}
        domain:  ${alinesno.infra.qiniu.domain} # 访问域名，注意“/”结尾，例如：http://abc.hn-bkt.clouddn.com/
        base-path: base/ # 基础路径
      - platform: qiniu-kodo-pub # 存储平台标识
        enable-storage: true  # 启用存储
        access-key: ${alinesno.infra.qiniu.access-key}
        secret-key: ${alinesno.infra.qiniu.secret-key}
        bucket-name: ${alinesno.infra.qiniu.bucket-pub}
        domain:  ${alinesno.infra.qiniu.domain-pub} # 访问域名，注意“/”结尾，例如：http://abc.hn-bkt.clouddn.com/
        base-path: public/ # 基础路径
